
body{
  background-color: #3da2c3;
}

.todo-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.todo-card{
  background-color: #424242;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
}